.home {
    min-height: calc(100vh - 110px);
    background-image: url("../../img/home-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}