
$dark-color: #000;
$light-color: #fff;
$background-dark: #000;
$background-light: #fff;
$paddingRight: 20px;
$fontWeight: bold;
$cartIcon: bold;
$menuTopLinks: #000;

// Padding
// Responsive up size
$media-breackpoint-up-xs: 320px;
$media-breackpoint-up-sm: 576px;
$media-breackpoint-up-md: 768px;
$media-breackpoint-up-lg: 992px;
$media-breackpoint-up-xl: 1200px;